gcp_key=<YOUR_GCP_KEY>
gemini_model=<YOUR_GEMINI_MODEL>
serper_api_key=<YOUR_SERPER_API_KEY>
groq_key=<YOUR_GROQ_KEY>
memo_key=<YOUR_MEMO_KEY>
openai_api_key=<YOUR_OPENAI_API_KEY>
inputs={"travelers_input":"I would like to plan a trip to the Grand Canyon in Arizona. I am looking for a 3-day trip and I am interested in trails, food, and sightseeing."}